

.gallery-section {
  background-color: #f8f9fa;
}

 .gallery-subtitle{
    text-transform: capitalize;
    color: var(--color-secondary);
    font-weight: 600;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    font-family: "Patrick Hand", cursive;
    font-size: 26px;
    letter-spacing: 1px;
}

.gallery-heading {
  font-size: 2.2rem;
  font-family: 'Poppins', sans-serif;
}

.project-card {
  height: 500px; 
  border: none;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}


.project-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}


.project-card:hover img {
  transform: scale(1.07);
}

.overlay-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px 25px 50px;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent 70%);
  font-family: "Patrick Hand", cursive;
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  text-align: left;
}

.overlay-bg small {
  font-size: 1.2rem; 
}

.overlay-bg .card-title {
  font-size: 1.8rem; 
  margin-top: 4px;
}