
.main-navbar {
  transition: all 0.3s ease;
  z-index: 1000;
}


.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease forwards;
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
